/* rhoScript background & border */
.rhoscript-block {
  border: 3px solid #405090;
  background-color: #fbfbff; }
  .rhoscript-block .unhighlighted {
    border: 1pt solid #fbfbff; }
  .rhoscript-block .line {
    display: inline-block; }
