/* rhoScript background & border */
.rhoscript-structure {
  border: 3px solid #405090;
  background-color: #fbfbff; }
  .rhoscript-structure .unhighlighted {
    border: 1pt solid #fbfbff; }
  .rhoscript-structure .item-group {
    display: inline-block; }
